<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        ACCOUNT NUMBER <input type="number" name="acc" id="">   <br><br>
        TO  ACCOUNT NUMBER <input type="number" name="tacc" id="">   <br><br>
        AMOUNT <input type="number" name="amt" id=""> <br><br>
        PIN <input type="number" name="pin" maxlength="4" id="">
        <br><br>
        <button type="submit">TRANSFER MONEY</button>

    
    
    
    
    </form>

</body>
</html>