<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        ACCOUNT NUMBER <input type="number" name="acc" id="">  <br><br>
        PIN <input type="number" name="pin" id=""> <br><br>
        AMOUNT <input type="number" name="amt" id="">
        <br><br>
        <button type="submit">WITHDRAWL</button>
        

    </form>
</body>
</html>