<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <LAbel>ACC number</LAbel> <input type="number" name="acc" id=""> <br><br>
        <LAbel>PIN</LAbel> <input type="number" name="pin" id=""> <br><br>
        <LAbel>AMOUNT</LAbel> <input type="number" name="amt" id=""> <br><br>
        {% if flag %}
        <button type="submit">DEPOSIT</button>
        {% else %}
        <button type="submit">WITHDRAW</button>
        {% endif %}
    </form>
    {{msg}}
</body>
</html>