<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        OTP : <input type="number" name="ot" id=""><br><br>
        PIN : <input type="number" name="npin" id=""> <br>
        <br>
         CONFIRM PIN : <input type="number" name="cpin" id=""> <br>
        <br>
        <button type="submit">SUBMIT</button>
    </form>
    {{msg}}
</body>
</html>